@use "./constant" as *;

.offer {
  .row {
    margin-bottom: 50px;
    .head {
      transform: scale(0);
      opacity: 0;
      .line {
        width: 300px;
        height: 7px;
        margin-top: 60px;
      }
      .scroller {
        .img {
          overflow: hidden;
          height: 250px;
          border: 1px solid $main-color;
          background-color: $main-color-dark;
          position: relative;
          cursor: pointer;
          transform: translateX(-800px) scale(0.8);
          opacity: 0;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            backdrop-filter: blur(2px);
          }
        }
        .active-img {
          transform: translateX(-800px) scale(1) !important;
          &::after {
            backdrop-filter: blur(0px);
          }
        }
      }
      .scroll-conrolls {
        height: 60px;
        margin-top: 50px;
        cursor: pointer;
        .liner {
          width: 50px;
          height: 7px;
        }
        .active-img-line {
          background-color: $main-color !important;
        }
      }
    }
  }
}

@include media(md) {
  .offer {
    .row {
      margin-top: 600px;
    }
  }
}

@include media(sm) {
  .offer {
    .row {
      margin-top: 500px;
      .head {
        .scroller {
          .img {
            height: 150px;
            width: 150px;
            padding: 15px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@include media(xl) {
  .offer {
    .row {
      margin-top: 500px;
      .head {
        .scroller {
          .img {
            height: 150px;
            width: 150px;
            padding: 5px;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
