@use "./constant" as *;

.tools {
  overflow: hidden;
  .container {
    .row {
      .img {
        transform: translateY(900px);
        opacity: 0;
        width: 200px;
        img:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
  }
}
